## 3. 데이터전처리

In [1]:
#결측치 처리
import pandas as pd
import numpy as np
from numpy import nan as NA  #nan : not a number : 숫자가 아닌, NA: Not Available
from pandas import DataFrame

In [2]:
df = pd.DataFrame(np.random.rand(3,4))
print(df)

          0         1         2         3
0  0.144972  0.164412  0.913026  0.825596
1  0.919560  0.594843  0.490220  0.930514
2  0.261450  0.781272  0.615824  0.951320

In [3]:
df[1] #dataframe에서는 열이 중요하다.

0    0.164412
1    0.594843
2    0.781272
Name: 1, dtype: float64

In [6]:
df[3] #3인덱스 열

0    0.825596
1    0.930514
2    0.951320
Name: 3, dtype: float64

In [7]:
df[1],[2]

(0    0.164412
 1    0.594843
 2    0.781272
 Name: 1, dtype: float64,
 [2])

In [8]:
df[3],[1]

(0    0.825596
 1    0.930514
 2    0.951320
 Name: 3, dtype: float64,
 [1])

In [9]:
df[3],[2]

(0    0.825596
 1    0.930514
 2    0.951320
 Name: 3, dtype: float64,
 [2])

In [10]:
df

          0         1         2         3
0  0.144972  0.164412  0.913026  0.825596
1  0.919560  0.594843  0.490220  0.930514
2  0.261450  0.781272  0.615824  0.951320

In [14]:
df[1][2] #변수[열 인덱스][행 인덱스]

0.7812723539652559

In [13]:
df[3][1]

0.9305139260059981

In [15]:
df[1][2] = np.nan
df[3][1] = np.nan #변수[열],[행] 즉 3인덱스 열 1인덱스 행에 자료를 NaN처리
print(df)

          0         1         2         3
0  0.144972  0.164412  0.913026  0.825596
1  0.919560  0.594843  0.490220       NaN
2  0.261450       NaN  0.615824  0.951320

In [16]:
cleaned = df.dropna() # dropna() - 기본적으로 Nan이 하나라도 들어있는 행을 삭제
print(cleaned)

          0         1         2         3
0  0.144972  0.164412  0.913026  0.825596

In [17]:
df_2=df.fillna(0) #fillna(0) 적절한 값, ()안의 값으로 자료를 대체
print(df_2)

          0         1         2         3
0  0.144972  0.164412  0.913026  0.825596
1  0.919560  0.594843  0.490220  0.000000
2  0.261450  0.000000  0.615824  0.951320

In [18]:
data = df_2.mean() #mean() 평균을 구함 -> 열기준으로
data

0    0.441994
1    0.253085
2    0.673023
3    0.592305
dtype: float64

In [19]:
data = df_2.mean(axis =1) # 행(axis-=1) 기준으로 평균을 구함
data

0    0.512001
1    0.501156
2    0.457149
dtype: float64

In [20]:
k= data.mean() #전체 평균
k

0.4901019890577114

In [21]:
print(df_2)

          0         1         2         3
0  0.144972  0.164412  0.913026  0.825596
1  0.919560  0.594843  0.490220  0.000000
2  0.261450  0.000000  0.615824  0.951320

In [22]:
data2 = df.fillna(data.mean()) #전체평균으로 대체
data2

          0         1         2         3
0  0.144972  0.164412  0.913026  0.825596
1  0.919560  0.594843  0.490220  0.490102
2  0.261450  0.490102  0.615824  0.951320

In [27]:
df[1][2] = np.nan
print (df)

          0         1         2         3
0  0.144972  0.164412  0.913026  0.825596
1  0.919560  0.594843  0.490220       NaN
2  0.261450       NaN  0.615824  0.951320

In [28]:
#열기준 바로 앞(forward)자료로 대체
df_2 = df.fillna(method='ffill')
print(df_2)

          0         1         2         3
0  0.144972  0.164412  0.913026  0.825596
1  0.919560  0.594843  0.490220  0.825596
2  0.261450  0.594843  0.615824  0.951320